html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/admin.css')
	body
		section.centrado
			h1 #{title}
			p
				a(href='/administrador/salas-virtuales', title='Salas Virtuales') Salas Virtuales