doctype 5
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/error.css')
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	body
		section#principal
			a(href='/', title='Página principal Neighborbook')
				img(src='/images/logo.png', alt='Neighborbook, la otra forma de leer.')
			h1 #{title}