doctype 5
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	body
		section#principal
			img(src='/images/logo.png', alt='Neighborbook, la otra forma de leer.')
			h1 Neighborbook, la otra forma de leer
		section#formularios
			form(action='/recuperar-contrasena', id='formlogin', method='post')
				section.recuperarcontrasena
					| Recuerde: 
					br
					| Leer mejora la memoria
				br
				input(type='text', name='email', id='email', class='input', placeholder='Email', required='required')
				br
				input(type='submit', class='enviar', value='Restablecer Contraseña')
		footer
			img(src='images/comparte.png', alt='Comparte')
			| Comparte
			img(src='images/lupa.png', alt='Explora')
			| Explora
			img(src='images/siente.png', alt='Siente')
			| Siente