body
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  text-decoration none

footer
	background-color #e5e5e5
	color #757c82
	font-weight bold
	margin-top 2.5em
	padding: 1.5em 0
	text-align center
	width 100%

footer img
	margin-left 1.5em
	margin-right 0.5em
	vertical-align middle
	width 35px

#principal, #principalbaja
	margin 2em auto
	text-align center
	width 50%

#principal img
	width 60%

#principalbaja img
	width 30%