@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-home, .icon-quill, .icon-pencil, .icon-profile, .icon-file, .icon-bubbles, .icon-reply, .icon-shield, .icon-bookmark, .icon-star, .icon-plus, .icon-question, .icon-comment, .icon-right-quote, .icon-layers-alt {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-quill:before {
	content: "\e001";
}
.icon-pencil:before {
	content: "\e002";
}
.icon-profile:before {
	content: "\e003";
}
.icon-file:before {
	content: "\e004";
}
.icon-bubbles:before {
	content: "\e005";
}
.icon-reply:before {
	content: "\e006";
}
.icon-shield:before {
	content: "\e007";
}
.icon-bookmark:before {
	content: "\e008";
}
.icon-star:before {
	content: "\e009";
}
.icon-plus:before {
	content: "\e00a";
}
.icon-question:before {
	content: "\e00b";
}
.icon-comment:before {
	content: "\e00c";
}
.icon-right-quote:before {
	content: "\e00d";
}
.icon-layers-alt:before {
	content: "\e00e";
}